* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fbe0c5;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: radial-gradient(at bottom right, #ffffff 30%, #fbe0c5 40%);
  padding: 4rem 3rem;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.adopt-btn {
  padding: 0.8rem 1.5rem;
  background-color: #f78b3f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.learn-btn {
  padding: 0.8rem 1.5rem;
  background-color: #f2e7e7;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.hero-image img {
  width: 500px;
  height: auto;
}
